@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Teknik bir arka plan deseni oluşturur */
    background-color: #f8fafc;
    background-image: radial-gradient(#cbd5e1 0.5px, transparent 0.5px);
    background-size: 24px 24px;
    @apply text-slate-900 antialiased font-sans;
  }
}

/* Doküman kartları için özel parlama efekti */
.doc-card-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}